.login-form__content {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;
    /* max-width: 1230px; */
    background-color: rgb(241,236,230);
}

.login-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: rgb(139,121,105);
    font-size: 24px;
}

.login-form__heading,h2{
    font-weight: 200;
}

.form {
    background-color: rgb(255,255,255);
    border: 2px solid #ddd;
    border-radius: 8px;
    margin: 0 auto;
    width: 40%;
    min-width: 400px;
    text-align: center;
    padding: 60px;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    margin: auto;
    width: 70%;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__group-title{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.form__label--item{
    /* padding: 10px; */
    /* margin: 0 auto;
    width:50%; */
    height: 40px;
    font-size: 20px;
}
.form__input--text input {
    padding-left: 20px;
    margin: 0 auto;
    width:70%;
    height: 40px;
    border-radius: 1px;
    appearance: none;
    background-color: rgb(244,244,244);
    font-size: 16px;
    border: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 1px;
    background-color: rgb(130,117,106);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

input:focus{
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
