.thanks__content {
    margin: 0 auto;
    max-width: 1230px;
    height: 800px;
    position: relative;
    flex-wrap: nowrap;
    overflow: hidden;
}
.thanks__backing{
    opacity: 0.08;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    font-size: 200px;
    color:gray;
}

.thanks__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(130,117,106);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 40px;
}

.home__button{
    width: 20%;
    padding: 10px;
    width: 40%;
    height: 40px;
    text-decoration: none;
    background: rgb(130,117,106);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin: 0 auto;
}
